<h1>Table Test</h1>
<div class="row">
<div class="col">Item</div>
<div class="col">Status</div>
<div class="col">Notes</div>
</div>
<div class="row">
<div class="col">one</div>
<div class="col">1</div>
<div class="col">blah blah blah</div>
</div>
<div class="row">
<div class="col">two</div>
<div class="col">0</div>
<div class="col">blah blah blah</div>
</div>
<div class="row">
<div class="col">three</div>
<div class="col">1</div>
<div class="col">blah blah blah</div>
</div>
<h1>Block to Remove</h1>
<p><em>Get Rid Of This OK?</em></p>
<p><em>Do Not Get Rid Of This</em></p>
<h1>The End</h1>
<p>That's all she wrote</p>
<p>&nbsp;</p>